.main {
  display: flex;
  min-height: 50vh;

  background-image: linear-gradient(
    79deg,
    #ffffff,
    rgb(255, 255, 255) 48%,
    #ffffff
  );

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 5%;
}
.main,
.sent {
  font-weight: 50px;

  font-family: "Imprima", sans-serif;
}
